<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Belly Button - Microbes Diversity</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 jumbotron text-center" style="padding: 0; margin-bottom: 10px;background-color: #ff8533;color:white">
          <h3>Belly Button Biodiversity Dashboard</h3>          
        </div>
      </div>
      <div class="row" style = "background-color: #595959; padding:5px; vertical-align: middle">
        <div class="col-md-3">
          <div class="well" style="padding: 2px;background-color: #595959; border:none; padding: 5px; margin: 0;margin-top:10px;">
            <span style="color:white; font-size:14px;">SELECT Sample:</span>
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
          </div>
          </div>
          <div class = "col-md-9">
          <div class="panel panel-primary"  style="padding: 2px;background-color: #595959; border:none;margin:0;">
            <!-- <div class="panel-heading">
              <h3 class="panel-title">Sample MetaData</h3>
            </div> -->
            <div style="color: white; font-size: 14px; font-weight: bold; padding:2px;">METADATA FOR SELECTED SAMPLE # 
              <span id="sample-num" style="color: white; font-size: 14px; font-weight: bold; padding:2px;"></span></div>
            <div id="sample-metadata" class="panel-body" style="color: #ff8533; font-size: 12px; font-weight: bold; padding:2px;">
              </div>
          </div>
        </div>
      </div>
      <div class = "row" style="margin-top:7px;">
        <div class="col-md-6">
          <div id="pie" style="margin: 10px"></div>
        </div>
        <div class="col-md-6">
          <div id="gauge"></div>
        </div>
      </div>
    
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
    
  
    <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  
  </body>

</html>
